<!docType html>
<html lang="en" class="preset-1" data-pc-sidebar-caption="true" data-pc-layout="vertical" data-pc-direction="rtl" dir="rtl" data-pc-theme_contrast="" data-pc-theme="light">
<!-- [Head] start -->

<head>
    <Title>@ViewData["Title"]| مدیریت تعمیر، تکمیل و خدمات فنی چاهها</Title>
    <!-- [Meta] -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="~/panel/js/browser@4.js"></script>
    <link rel="stylesheet" href="~/css/font/primary-iran-sans.css" />
    <link rel="stylesheet" href="~/css/jalalidatepicker.min.css" />
    <!-- [Favicon] icon -->
    <link rel="icon" href="~/panel/images/favicon.svg" Type="image/x-icon" />
    <!-- [Font] Family -->
    <link rel="stylesheet" href="~/panel/fonts/inter/inter.css" id="main-font-link" />
    <!-- [phosphor Icons] https://phosphoricons.com/ -->
    <link rel="stylesheet" href="~/panel/fonts/phosphor/duotone/style.css" />
    <!-- [Tabler Icons] https://tablericons.com -->
    <link rel="stylesheet" href="~/panel/fonts/tabler-icons.min.css" />
    <!-- [Feather Icons] https://feathericons.com -->
    <link rel="stylesheet" href="~/panel/fonts/feather.css" />
    <!-- [Font Awesome Icons] https://fontawesome.com/icons -->
    <link rel="stylesheet" href="~/panel/fonts/fontawesome.css" />
    <!-- [Material Icons] https://fonts.google.com/icons -->
    <link rel="stylesheet" href="~/panel/fonts/material.css" />
    <!-- [Template CSS Files] -->
    <link rel="stylesheet" href="~/panel/css/style.css" id="main-style-link" />
    <link rel="stylesheet" href="~/panel/css/Mh1PersianDatePicker.css" />
    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .pc-sidebar .pc-navbar .pc-item .pc-link,
        .pc-sidebar .pc-user-card .card-body h6,
        .pc-sidebar .pc-user-card .card-body small,
        .pc-sidebar.pc-sidebar-rtl {
            font-family: 'primary-font' !important;
        }
    </style>

</head>
<!-- [Head] end -->
<!-- [Body] Start -->

<body>
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg fixed inset-0 bg-white dark:bg-themedark-cardbg z-[1034]">
        <div class="loader-track h-[5px] w-full inline-block absolute overflow-hidden top-0 bg-primary-500/10">
            <div class="loader-fill w-[300px] h-[5px] bg-primary-500 absolute top-0 left-0 transition-[transform_0.2s_linear] origin-left animate-[2.1s_cubic-bezier(0.65,0.815,0.735,0.395)_0s_infinite_normal_none_running_loader-animate]"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ Sidebar Menu ] start -->
    <nav class="pc-sidebar">
        <div class="navbar-wrapper">
            <div class="navbar-content h-[calc(100vh_-_74px)] py-2.5">
                <div class="card pc-user-card mx-[15px] mb-[15px] bg-theme-sidebaruserbg dark:bg-themedark-sidebaruserbg">
                    <div class="card-body !p-5">
                        <div class="flex items-center">
                            <img class="shrink-0 h-7 rounded-full" src="~/panel/images/user/avatar-7.jpg" alt="user-image" />
                            <div class="ml-4 mr-2 grow">
                                <h6 class="mb-0">سید ایمان هاشمی</h6>
                            </div>
                            <a class="inline-flex shrink-0 btn btn-icon btn-link-secondary" data-pc-toggle="collapse" href="#pc_sidebar_userlink">
                                <svg class="pc-icon w-[16px] h-[16px]">
                                    <use xlink:href="#custom-sort-outline"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="hidden pc-user-links" id="pc_sidebar_userlink">
                            <div class="pt-3 *:flex *:items-center *:py-2 *:gap-2.5 hover:*:text-primary-500">
                                <p>
                                    <i class="text-lg leading-none ti ti-user"></i>
                                    <span>کارشناس ارشد بهداشت حرفه ای</span>
                                </p>
                                <a href="#!">
                                    <i class="Text-lg leading-none ti ti-power"></i>
                                    <span>خروج</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="pc-navbar">
                    <li class="pc-item pc-hasmenu">
                        <a href="#!" class="pc-link">
                            <span class="pc-micon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users w-5 h-5"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                            </span>
                            <span class="pc-mText">کارکنان</span>
                            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="pc-submenu">
                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/Users/Index">لیست کارکنان</a></li>
                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/Organizations/Index">سازمان</a></li>
                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/Offices/Index">اداره</a></li>
                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/WorkPlaces/Index">محل های کار</a></li>
                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/Occupations/Index">سمت ها</a></li>
                        </ul>
                    </li>
                    <li class="pc-item pc-hasmenu">
                        <a href="#!" class="pc-link">
                            <span class="pc-micon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield w-5 h-5"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg>
                            </span>
                            <span class="pc-mText">ایمنی</span>
                            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="pc-submenu">
                            <li class="pc-item pc-hasmenu">
                                <a href="#!" class="pc-link">
                                    <span class="pc-mText">البسه استحفاظی</span><span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                </a>
                                <ul class="pc-submenu" style="display: none;">
                                    <li class="pc-item"><a class="pc-link" asp-page="/Admin/Clothes/Index">ثبت انفرادی</a></li>
                                    <li class="pc-item"><a class="pc-link" asp-page="/Admin/ClothGroups/Index">ثبت گروهی</a></li>
                                    <li class="pc-item"><a class="pc-link" asp-page="/Admin">آمار البسه</a></li>
                                </ul>
                            </li>
                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/Calibrations/Index">کالیبراسیون</a></li>
                            <li class="pc-item pc-hasmenu">
                                <a href="#!" class="pc-link">
                                    <span class="pc-mText">اموال</span><span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                </a>
                                <ul class="pc-submenu" style="display: none;">
                                    <li class="pc-item"><a class="pc-link" asp-page="/Admin/Assets/Index">اموال ثبتی</a></li>
                                    <li class="pc-item"><a class="pc-link" asp-page="/Admin/RigAssets/Index">اموال دکل ها</a></li>
                                </ul>
                            </li>
                            <li class="pc-item pc-hasmenu">
                                <a href="#!" class="pc-link">
                                    <span class="pc-mText">حوادث</span><span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                </a>
                                <ul class="pc-submenu" style="display: none;">
                                    <li class="pc-item"><a class="pc-link" asp-page="/Admin/Accidents/Index">شاخص حوادث</a></li>
                                    <li class="pc-item"><a class="pc-link" asp-page="/Admin/OfficialAccidents/Index">حوادث رسمی</a></li>
                                    <li class="pc-item"><a class="pc-link" asp-page="/Admin/ContractorAccidents/Index">حوادث قراردادی و پیمانکاری</a></li>
                                </ul>
                            </li>
                            <li class="pc-item pc-hasmenu">
                                <a href="#!" class="pc-link">
                                    <span class="pc-mText">بازرسی ها</span><span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                </a>
                                <ul class="pc-submenu" style="display: none;">
                                    <li class="pc-item"><a class="pc-link" asp-page="/Admin/InspectionPlaces/Index">گروه بازرسی</a></li>
                                    <li class="pc-item"><a class="pc-link" asp-page="/Admin/Inspections/Index">لیست بازرسی ها</a></li>
                                </ul>
                            </li>
                            <li class="pc-item pc-hasmenu">
                                <a href="#!" class="pc-link">
                                    <span class="pc-mText">مجوزهای کار</span><span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                </a>
                                <ul class="pc-submenu" style="display: none;">
                                    <li class="pc-item"><a class="pc-link" asp-page="/Admin/Permits/Index">مجوزهای ثبت شده</a></li>
                                    <li class="pc-item"><a class="pc-link" asp-page="/Admin/UserPermits/Index">لیست مجوزدارها</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="pc-item pc-hasmenu">
                        <a href="#!" class="pc-link">
                            <span class="pc-micon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart w-5 h-5"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                            </span>
                            <span class="pc-mText">بهداشت</span>
                            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="pc-submenu">
                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/Ambulances/Index">آمبولانس ها</a></li>
                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/HealthCarts/Index">کارت بهداشت</a></li>
                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/Examinations/Index">معاینات</a></li>
                        </ul>
                    </li>
                    <li class="pc-item pc-hasmenu">
                        <a href="#!" class="pc-link">
                            <span class="pc-micon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-cloud-lightning w-5 h-5"><path d="M19 16.9A5 5 0 0 0 18 7h-1.26a8 8 0 1 0-11.62 9"></path><polyline points="13 11 9 17 15 17 11 23"></polyline></svg>
                            </span>
                            <span class="pc-mText">محیط زیست</span>
                            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="pc-submenu">
                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/Users/Index">پسماند</a></li>
                        </ul>
                    </li>
                    <li class="pc-item pc-hasmenu">
                        <a href="#!" class="pc-link">
                            <span class="pc-micon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase w-5 h-5"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>
                            </span>
                            <span class="pc-mText">ایزو</span>
                            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="pc-submenu">
                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/Standards/Index">متن استانداردها</a></li>
                            <li class="pc-item pc-hasmenu">
                                <a href="#!" class="pc-link">
                                    <span class="pc-mText">ISO9001</span><span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                </a>
                                <ul class="pc-submenu" style="display: none;">
                                    <li class="pc-item pc-hasmenu">
                                        <a href="#!" class="pc-link">
                                            <span class="pc-mText">بافت سازمان</span><span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                        </a>
                                        <ul class="pc-submenu" style="display: none;">
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/Processes/Index">لیست فرایندها</a></li>
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/ProcessPlans/Index">پایش فرایندها</a></li>
                                        </ul>
                                    </li>
                                    <li class="pc-item pc-hasmenu">
                                        <a href="#!" class="pc-link">
                                            <span class="pc-mText">رهبری و مشارکت</span><span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                        </a>
                                        <ul class="pc-submenu" style="display: none;">
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin">خطی مشی</a></li>
                                        </ul>
                                    </li>
                                    <li class="pc-item pc-hasmenu">
                                        <a href="#!" class="pc-link">
                                            <span class="pc-mText">طرح ریزی</span><span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                        </a>
                                        <ul class="pc-submenu" style="display: none;">
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/LegalRequirements/Index">الزامات قانونی</a></li>
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/Purposes/Index">اهداف</a></li>
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/OperationPlans/Index">برنامه ها</a></li>
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin">چرخه حیات</a></li>
                                        </ul>
                                    </li>
                                    <li class="pc-item pc-hasmenu">
                                        <a href="#!" class="pc-link">
                                            <span class="pc-mText">عملیات</span><span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                        </a>
                                        <ul class="pc-submenu" style="display: none;">
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin">مدیریت تغییر</a></li>
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/EmergencyTeams/Index">تیم شرایط اضطراری</a></li>
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/Maneuveres/Index">مانورها</a></li>
                                        </ul>
                                    </li>
                                    <li class="pc-item pc-hasmenu">
                                        <a href="#!" class="pc-link">
                                            <span class="pc-mText">پایش و اندازه گیری</span><span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                        </a>
                                        <ul class="pc-submenu" style="display: none;">
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin">ارزشیابی تطابق</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="pc-item pc-hasmenu">
                                <a href="#!" class="pc-link">
                                    <span class="pc-mText">ISO14001</span><span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                </a>
                                <ul class="pc-submenu" style="display: none;">
                                    <li class="pc-item pc-hasmenu">
                                        <a href="#!" class="pc-link">
                                            <span class="pc-mText">بافت سازمان</span><span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                        </a>
                                        <ul class="pc-submenu" style="display: none;">
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/Processes/Index">لیست فرایندها</a></li>
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/ProcessPlans/Index">پایش فرایندها</a></li>
                                        </ul>
                                    </li>
                                    <li class="pc-item pc-hasmenu">
                                        <a href="#!" class="pc-link">
                                            <span class="pc-mText">رهبری و مشارکت</span><span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                        </a>
                                        <ul class="pc-submenu" style="display: none;">
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin">خطی مشی</a></li>
                                        </ul>
                                    </li>
                                    <li class="pc-item pc-hasmenu">
                                        <a href="#!" class="pc-link">
                                            <span class="pc-mText">طرح ریزی</span><span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                        </a>
                                        <ul class="pc-submenu" style="display: none;">
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/LegalRequirements/Index">الزامات قانونی</a></li>
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/Purposes/Index">اهداف</a></li>
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/OperationPlans/Index">برنامه ها</a></li>
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin">چرخه حیات</a></li>
                                        </ul>
                                    </li>
                                    <li class="pc-item pc-hasmenu">
                                        <a href="#!" class="pc-link">
                                            <span class="pc-mText">عملیات</span><span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                        </a>
                                        <ul class="pc-submenu" style="display: none;">
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin">مدیریت تغییر</a></li>
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/EmergencyTeams/Index">تیم شرایط اضطراری</a></li>
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/Maneuveres/Index">مانورها</a></li>
                                        </ul>
                                    </li>
                                    <li class="pc-item pc-hasmenu">
                                        <a href="#!" class="pc-link">
                                            <span class="pc-mText">پایش و اندازه گیری</span><span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                        </a>
                                        <ul class="pc-submenu" style="display: none;">
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin">ارزشیابی تطابق</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="pc-item pc-hasmenu">
                                <a href="#!" class="pc-link">
                                    <span class="pc-mText">ISO45001</span><span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                </a>
                                <ul class="pc-submenu" style="display: none;">
                                    <li class="pc-item pc-hasmenu">
                                        <a href="#!" class="pc-link">
                                            <span class="pc-mText">بافت سازمان</span><span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                        </a>
                                        <ul class="pc-submenu" style="display: none;">
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/Processes/Index">لیست فرایندها</a></li>
                                          
                                        </ul>
                                    </li>
                                    <li class="pc-item pc-hasmenu">
                                        <a href="#!" class="pc-link">
                                            <span class="pc-mText">رهبری و مشارکت</span><span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                        </a>
                                        <ul class="pc-submenu" style="display: none;">
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin">انتقاد / پیشنهاد</a></li>
                                        </ul>
                                    </li>
                                    <li class="pc-item pc-hasmenu">
                                        <a href="#!" class="pc-link">
                                            <span class="pc-mText">طرح ریزی</span><span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                        </a>
                                        <ul class="pc-submenu" style="display: none;">
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/LegalRequirements/Index">الزامات قانونی</a></li>
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/Purposes/Index">اهداف</a></li>
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/OperationPlans/Index">برنامه ها</a></li>
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin">چرخه حیات</a></li>
                                        </ul>
                                    </li>
                                    <li class="pc-item pc-hasmenu">
                                        <a href="#!" class="pc-link">
                                            <span class="pc-mText">عملیات</span><span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                        </a>
                                        <ul class="pc-submenu" style="display: none;">
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin">مدیریت تغییر</a></li>
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/EmergencyTeams/Index">تیم شرایط اضطراری</a></li>
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/Maneuveres/Index">مانورها</a></li>
                                        </ul>
                                    </li>
                                    <li class="pc-item pc-hasmenu">
                                        <a href="#!" class="pc-link">
                                            <span class="pc-mText">پایش و اندازه گیری</span><span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                        </a>
                                        <ul class="pc-submenu" style="display: none;">
                                            <li class="pc-item"><a class="pc-link" asp-page="/Admin">ارزشیابی تطابق</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="pc-item pc-hasmenu">
                        <a href="#!" class="pc-link">
                            <span class="pc-micon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-server w-5 h-5"><rect x="2" y="2" width="20" height="8" rx="2" ry="2"></rect><rect x="2" y="14" width="20" height="8" rx="2" ry="2"></rect><line x1="6" y1="6" x2="6.01" y2="6"></line><line x1="6" y1="18" x2="6.01" y2="18"></line></svg>
                            </span>
                            <span class="pc-mText">پیمانکاران</span>
                            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="pc-submenu">
                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/Contractors/Index">لیست پیمانکاران</a></li>
                        </ul>
                    </li>
                    <li class="pc-item pc-hasmenu">
                        <a href="#!" class="pc-link">
                            <span class="pc-micon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-server w-5 h-5"><rect x="2" y="2" width="20" height="8" rx="2" ry="2"></rect><rect x="2" y="14" width="20" height="8" rx="2" ry="2"></rect><line x1="6" y1="6" x2="6.01" y2="6"></line><line x1="6" y1="18" x2="6.01" y2="18"></line></svg>
                            </span>
                            <span class="pc-mText">عمومی</span>
                            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="pc-submenu">
                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/Reminders/Index">یادآوری ها</a></li>
                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/Messages/Index">پیام ها</a></li>
                            <li class="pc-item"><a class="pc-link" asp-page="/Admin/EmergencyPhoneBooks/Index">تلفن ها</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- [ Sidebar Menu ] end -->
    <!-- [ Header Topbar ] start -->
    <header class="pc-header">
        <div class="header-wrapper flex max-sm:px-[15px] px-[25px] grow">
            <!-- [Mobile Media Block] start -->
            <div class="me-auto pc-mob-drp">
                <ul class="inline-flex *:min-h-header-height *:inline-flex *:items-center">
                    <!-- ======= Menu collapse Icon ===== -->
                    <li class="pc-h-item pc-sidebar-collapse max-lg:hidden lg:inline-flex">
                        <a href="#" class="pc-head-link ltr:!ml-0 rtl:!mr-0" id="sidebar-hide">
                            <i class="ti ti-menu-2"></i>
                        </a>
                    </li>
                    <li class="pc-h-item pc-sidebar-popup lg:hidden">
                        <a href="#" class="pc-head-link ltr:!ml-0 rtl:!mr-0" id="mobile-collapse">
                            <i class="Text-2xl leading-none ti ti-menu-2"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- [Mobile Media Block end] -->
            <div class="ms-auto">
                <ul class="inline-flex *:min-h-header-height *:inline-flex *:items-center">
                    <li class="dropdown pc-h-item">
                        <a class="pc-head-link dropdown-toggle me-0"
                           data-pc-toggle="dropdown"
                           href="#"
                           role="button"
                           aria-haspopup="false"
                           aria-expanded="false">
                            <svg class="pc-icon">
                                <use xlink:href="#custom-sun-1"></use>
                            </svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end pc-h-dropdown">
                            <a href="#!" class="dropdown-item" onclick="layout_change('dark')">
                                <svg class="pc-icon w-[18px] h-[18px]">
                                    <use xlink:href="#custom-moon"></use>
                                </svg>
                                <span>Dark</span>
                            </a>
                            <a href="#!" class="dropdown-item" onclick="layout_change('light')">
                                <svg class="pc-icon w-[18px] h-[18px]">
                                    <use xlink:href="#custom-sun-1"></use>
                                </svg>
                                <span>Light</span>
                            </a>
                            <a href="#!" class="dropdown-item" onclick="layout_change_default()">
                                <svg class="pc-icon w-[18px] h-[18px]">
                                    <use xlink:href="#custom-setting-2"></use>
                                </svg>
                                <span>Default</span>
                            </a>
                        </div>
                    </li>
                    <li class="dropdown pc-h-item">
                        <a class="pc-head-link dropdown-toggle me-0"
                           data-pc-toggle="dropdown"
                           href="#"
                           role="button"
                           aria-haspopup="false"
                           aria-expanded="false">
                            <svg class="pc-icon">
                                <use xlink:href="#custom-notification"></use>
                            </svg>
                            <span class="absolute top-0 right-0 z-10 Text-white rounded-full badge bg-success-500">3</span>
                        </a>
                        <div class="p-2 dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown">
                            <div class="flex items-center justify-between px-5 py-4 dropdown-header">
                                <h5 class="m-0">Notifications</h5>
                                <a href="#!" class="btn btn-link btn-sm">Mark all read</a>
                            </div>
                            <div class="relative px-5 py-4 dropdown-body header-notification-scroll" style="max-height: calc(100vh - 215px)">
                                <p class="mb-3 Text-span">Today</p>
                                <div class="mb-2 card">
                                    <div class="card-body">
                                        <div class="flex gap-4">
                                            <div class="shrink-0">
                                                <svg class="pc-icon Text-primary w-[22px] h-[22px]">
                                                    <use xlink:href="#custom-layer"></use>
                                                </svg>
                                            </div>
                                            <div class="grow">
                                                <span class="Text-sm float-end Text-muted">2 min ago</span>
                                                <h5 class="mb-2 Text-body">UI/UX Design</h5>
                                                <p class="mb-0">
                                                    Lorem Ipsum has been the industry's standard dummy Text ever since the 1500s, when an unknown printer took a galley of
                                                    Type and scrambled it to make a Type
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-2 card">
                                    <div class="card-body">
                                        <div class="flex gap-4">
                                            <div class="shrink-0">
                                                <svg class="pc-icon Text-primary w-[22px] h-[22px]">
                                                    <use xlink:href="#custom-sms"></use>
                                                </svg>
                                            </div>
                                            <div class="grow">
                                                <span class="Text-sm float-end Text-muted">1 hour ago</span>
                                                <h5 class="mb-2 Text-body">Message</h5>
                                                <p class="mb-0">Lorem Ipsum has been the industry's standard dummy Text ever since the 1500.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-4 mb-3 Text-span">Yesterday</p>
                                <div class="mb-2 card">
                                    <div class="card-body">
                                        <div class="flex gap-4">
                                            <div class="shrink-0">
                                                <svg class="pc-icon Text-primary w-[22px] h-[22px]">
                                                    <use xlink:href="#custom-document-Text"></use>
                                                </svg>
                                            </div>
                                            <div class="grow ms-3">
                                                <span class="Text-sm float-end Text-muted">2 hour ago</span>
                                                <h5 class="mb-2 Text-body">Forms</h5>
                                                <p class="mb-0">
                                                    Lorem Ipsum has been the industry's standard dummy Text ever since the 1500s, when an unknown printer took a galley of
                                                    Type and scrambled it to make a Type
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-2 card">
                                    <div class="card-body">
                                        <div class="flex gap-4">
                                            <div class="shrink-0">
                                                <svg class="pc-icon Text-primary w-[22px] h-[22px]">
                                                    <use xlink:href="#custom-user-bold"></use>
                                                </svg>
                                            </div>
                                            <div class="grow ms-3">
                                                <span class="Text-sm float-end Text-muted">12 hour ago</span>
                                                <h5 class="mb-2 Text-body">Challenge invitation</h5>
                                                <p class="mb-2">
                                                    <span class="Text-dark">Jonny </span>
                                                    invites to join the challenge
                                                </p>
                                                <button class="btn btn-sm btn-outline-secondary me-2">Decline</button>
                                                <button class="btn btn-sm btn-primary">Accept</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-2 card">
                                    <div class="card-body">
                                        <div class="flex gap-4">
                                            <div class="shrink-0">
                                                <svg class="pc-icon Text-primary w-[22px] h-[22px]">
                                                    <use xlink:href="#custom-security-safe"></use>
                                                </svg>
                                            </div>
                                            <div class="grow ms-3">
                                                <span class="Text-sm float-end Text-muted">5 hour ago</span>
                                                <h5 class="mb-2 Text-body">Security</h5>
                                                <p class="mb-0">
                                                    Lorem Ipsum has been the industry's standard dummy Text ever since the 1500s, when an unknown printer took a galley of
                                                    Type and scrambled it to make a Type
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="py-2 Text-center">
                                <a href="#!" class="Text-danger-500 hover:Text-danger-600 focus:Text-danger-600 active:Text-danger-600">
                                    Clear all Notifications
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
   
    <!-- [ Header ] end -->
    <!-- [ Main Content ] start -->
    @RenderBody()
    <!-- [ Main Content ] end -->
  
    <div class="pct-c-btn block fixed ltr:-right-1 rtl:-left-1 top-[100px] z-[1030] overflow-hidden p-0 border-4 ltr:border-r-0 rtl:border-l-0 ltr:rounded-[50%_4px_4px_50%] rtl:rounded-[4px_50%_50%_4px] shadow-[-6px_0px_14px_1px_rgba(27,46,94,0.04)] border-theme-cardbg dark:border-themedark-cardbg bg-theme-cardbg dark:bg-themedark-cardbg transition-all">
        <a href="#" class="block px-4 py-3 transition-all hover:bg-primary-500/10" data-pc-toggle="offcanvas" data-pc-target="#offcanvas_pc_layout">
            <i class="ph-duotone ph-gear-six block Text-[24px] leading-none Text-primary-500"></i>
        </a>
    </div>
    <div class="offcanvas pct-offcanvas !w-[320px] offcanvas-end !z-[1031]" tabindex="-1" id="offcanvas_pc_layout" aria-labelledby="offcanvas_pc_layoutLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvas_pc_layoutLabel">Settings</h5>
            <button data-pc-dismiss="#offcanvas_pc_layout" class="flex items-center justify-center Text-lg rounded w-7 h-7 Text-secondary-500 hover:bg-danger-500/10 hover:Text-danger-500">
                <i class="ti ti-x"></i>
            </button>
        </div>
        <div class="offcanvas-body pct-body !px-[25px] !pt-0 h-[calc(100%_-_85px)]">
            <ul class="rounded-lg *:py-4 divide-y divide-inherit border-theme-border dark:border-themedark-border">
                <li class="list-group-item">
                    <div class="pc-dark">
                        <h6 class="mb-1">Theme Mode</h6>
                        <p class="mb-4 Text-sm Text-muted">Choose light or dark mode or Auto</p>
                        <div class="grid grid-cols-12 gap-6 theme-color theme-layout">
                            <div class="col-span-4">
                                <div class="grid">
                                    <button class="preset-btn btn active"
                                            data-value="true"
                                            onclick="layout_change('light');">
                                        <svg class="pc-icon Text-warning-500 w-[22px] h-[22px]">
                                            <use xlink:href="#custom-sun-1"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="col-span-4">
                                <div class="grid">
                                    <button class="preset-btn btn" data-value="false" onclick="layout_change('dark');">
                                        <svg class="pc-icon w-[22px] h-[22px]">
                                            <use xlink:href="#custom-moon"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="col-span-4">
                                <div class="grid">
                                    <button class="preset-btn btn"
                                            data-value="default"
                                            onclick="layout_change_default();">
                                        <span class="pc-lay-icon d-flex align-items-center justify-content-center">
                                            <i class="ph-duotone ph-cpu Text-[26px]"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <h6 class="mb-1">Theme Contrast</h6>
                    <p class="mb-4 Text-sm Text-muted">Choose theme contrast</p>
                    <div class="grid grid-cols-12 gap-6 theme-contrast">
                        <div class="col-span-6">
                            <div class="grid">
                                <button class="preset-btn btn"
                                        data-value="true"
                                        onclick="layout_theme_contrast_change('true');">
                                    <svg class="pc-icon w-[22px] h-[22px]">
                                        <use xlink:href="#custom-mask"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="col-span-6">
                            <div class="grid">
                                <button class="preset-btn btn active"
                                        data-value="false"
                                        onclick="layout_theme_contrast_change('false');">
                                    <svg class="pc-icon w-[22px] h-[22px]">
                                        <use xlink:href="#custom-mask-1-outline"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <h6 class="mb-1">Custom Theme</h6>
                    <p class="mb-4 Text-sm Text-muted">Choose your primary theme color</p>
                    <div class="flex flex-wrap items-center gap-1 mt-3 theme-color preset-color">
                        <a href="#" class="group bg-primary-500 active" data-value="preset-1">
                            <i class="block group-[.active]:hidden ph-duotone ph-arrow-counter-clockwise Text-white Text-lg leading-none"></i>
                            <i class="hidden group-[.active]:block ph-duotone ph-paint-brush Text-white Text-lg leading-none"></i>
                        </a>
                        <a href="#" class="bg-red-500" data-value="preset-2"><i class="Text-lg leading-none Text-white ph-duotone ph-paint-brush"></i></a>
                        <a href="#" class="bg-orange-500" data-value="preset-3"><i class="Text-lg leading-none Text-white ph-duotone ph-paint-brush"></i></a>
                        <a href="#" class="bg-amber-500" data-value="preset-4"><i class="Text-lg leading-none Text-white ph-duotone ph-paint-brush"></i></a>
                        <a href="#" class="bg-yellow-500" data-value="preset-5"><i class="Text-lg leading-none Text-white ph-duotone ph-paint-brush"></i></a>
                        <a href="#" class="bg-lime-500" data-value="preset-6"><i class="Text-lg leading-none Text-white ph-duotone ph-paint-brush"></i></a>
                        <a href="#" class="bg-green-500" data-value="preset-7"><i class="Text-lg leading-none Text-white ph-duotone ph-paint-brush"></i></a>
                        <a href="#" class="bg-emerald-500" data-value="preset-8"><i class="Text-lg leading-none Text-white ph-duotone ph-paint-brush"></i></a>
                        <a href="#" class="bg-teal-500" data-value="preset-9"><i class="Text-lg leading-none Text-white ph-duotone ph-paint-brush"></i></a>
                        <a href="#" class="bg-cyan-500" data-value="preset-10"><i class="Text-lg leading-none Text-white ph-duotone ph-paint-brush"></i></a>
                        <a href="#" class="bg-sky-500" data-value="preset-11"><i class="Text-lg leading-none Text-white ph-duotone ph-paint-brush"></i></a>
                        <a href="#" class="bg-blue-500" data-value="preset-12"><i class="Text-lg leading-none Text-white ph-duotone ph-paint-brush"></i></a>
                        <a href="#" class="bg-indigo-500" data-value="preset-13"><i class="Text-lg leading-none Text-white ph-duotone ph-paint-brush"></i></a>
                        <a href="#" class="bg-violet-500" data-value="preset-14"><i class="Text-lg leading-none Text-white ph-duotone ph-paint-brush"></i></a>
                        <a href="#" class="bg-purple-500" data-value="preset-15"><i class="Text-lg leading-none Text-white ph-duotone ph-paint-brush"></i></a>
                        <a href="#" class="bg-fuchsia-500" data-value="preset-16"><i class="Text-lg leading-none Text-white ph-duotone ph-paint-brush"></i></a>
                        <a href="#" class="bg-pink-500" data-value="preset-17"><i class="Text-lg leading-none Text-white ph-duotone ph-paint-brush"></i></a>
                        <a href="#" class="bg-rose-500" data-value="preset-18"><i class="Text-lg leading-none Text-white ph-duotone ph-paint-brush"></i></a>
                    </div>
                </li>
                <li class="list-group-item">
                    <h6 class="mb-1">Theme layout</h6>
                    <p class="mb-4 Text-sm Text-muted">Choose your layout</p>
                    <div class="flex items-center w-full gap-1 theme-main-layout">
                        <a href="#!" class="preset-btn btn btn-img active" data-value="vertical">
                            <img src="~/panel/images/customizer/caption-on.svg" alt="img" class="img-fluid" />
                        </a>
                        <a href="#!" class="preset-btn btn btn-img" data-value="horizontal">
                            <img src="~/panel/images/customizer/horizontal.svg" alt="img" class="img-fluid" />
                        </a>
                        <a href="#!" class="preset-btn btn btn-img" data-value="color-header">
                            <img src="~/panel/images/customizer/color-header.svg" alt="img" class="img-fluid" />
                        </a>
                        <a href="#!" class="preset-btn btn btn-img" data-value="compact">
                            <img src="~/panel/images/customizer/compact.svg" alt="img" class="img-fluid" />
                        </a>
                        <a href="#!" class="preset-btn btn btn-img" data-value="tab">
                            <img src="~/panel/images/customizer/tab.svg" alt="img" class="img-fluid" />
                        </a>
                    </div>
                </li>
                <li class="list-group-item">
                    <h6 class="mb-1">Sidebar Caption</h6>
                    <p class="mb-4 Text-sm Text-muted">Sidebar Caption Hide/Show</p>
                    <div class="grid grid-cols-12 gap-6 theme-color theme-nav-caption">
                        <div class="col-span-6">
                            <div class="grid">
                                <button class="preset-btn btn-img btn active"
                                        data-value="true"
                                        onclick="layout_caption_change('true');">
                                    <img src="~/panel/images/customizer/caption-on.svg" alt="img" class="img-fluid" />
                                </button>
                            </div>
                        </div>
                        <div class="col-span-6">
                            <div class="grid">
                                <button class="preset-btn btn-img btn"
                                        data-value="false"
                                        onclick="layout_caption_change('false');">
                                    <img src="~/panel/images/customizer/caption-off.svg" alt="img" class="img-fluid" />
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="pc-rtl">
                        <h6 class="mb-1">Theme Layout</h6>
                        <p class="mb-4 Text-sm Text-muted">LTR/RTL</p>
                        <div class="grid grid-cols-12 gap-6 theme-color theme-direction">
                            <div class="col-span-6">
                                <div class="grid">
                                    <button class="preset-btn btn-img btn active"
                                            data-value="false"
                                            onclick="layout_rtl_change('false');">
                                        <img src="~/panel/images/customizer/ltr.svg" alt="img" class="img-fluid" />
                                    </button>
                                </div>
                            </div>
                            <div class="col-span-6">
                                <div class="grid">
                                    <button class="preset-btn btn-img btn"
                                            data-value="true"
                                            onclick="layout_rtl_change('true');">
                                        <img src="~/panel/images/customizer/rtl.svg" alt="img" class="img-fluid" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item pc-box-width">
                    <div class="pc-container-width">
                        <h6 class="mb-1">Layout Width</h6>
                        <p class="mb-4 Text-sm Text-muted">Choose Full or Container Layout</p>
                        <div class="grid grid-cols-12 gap-6 theme-color theme-container">
                            <div class="col-span-6">
                                <div class="grid">
                                    <button class="preset-btn btn-img btn active"
                                            data-value="false"
                                            onclick="change_box_container('false')">
                                        <img src="~/panel/images/customizer/full.svg" alt="img" class="img-fluid" />
                                    </button>
                                </div>
                            </div>
                            <div class="col-span-6">
                                <div class="grid">
                                    <button class="preset-btn btn-img btn"
                                            data-value="true"
                                            onclick="change_box_container('true')">
                                        <img src="~/panel/images/customizer/fixed.svg" alt="img" class="img-fluid" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <button class="btn btn-light-danger" id="layoutreset">Reset Layout</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Required Js -->
    <script src="~/panel/js/plugins/simplebar.min.js"></script>
    <script src="~/panel/js/plugins/popper.min.js"></script>
    <script src="~/panel/js/icon/custom-font.js"></script>
    <script src="~/panel/js/plugins/feather.min.js"></script>
    <script src="~/panel/js/component.js"></script>
    <script src="~/panel/js/theme.js"></script>
    <script src="~/panel/js/plugins/choices.min.js"></script>
    <script src="~/panel/js/script.js"></script>
    <script src="~/js/jalalidatepicker.min.js"></script>
    <script src="~/panel/js/Mh1PersianDatePicker.js"></script>

    <script>
        layout_change('false');
    </script>

    <script>
        layout_theme_contrast_change('false');
    </script>

    <script>
        change_box_container('false');
    </script>

    <script>
        layout_caption_change('true');
    </script>

    <script>
        layout_rtl_change('true');
    </script>

    <script>
        preset_change('preset-1');
    </script>

    <script>
        main_layout_change('vertical');
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
<!-- [Body] end -->
</html>
