@page
@model ISO_Manager.Pages.Admin.EmergencyTeams.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Admin/Index">خانه</a></li>
                    <li class="breadcrumb-item" aria-current="page">ایجاد</li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12">
                <div class="card">
                    <div class="card-header">
                        <h5>ایجاد آمبولانس</h5>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input Type="hidden" asp-for="EmergencyTeam.Id" />
                            <div class="grid grid-cols-12 gap-6">
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="EmergencyTeam.Duty" class="control-label"></label>
                                    <input asp-for="EmergencyTeam.Duty" class="form-control"/>
                                    <span asp-validation-for="EmergencyTeam.Duty" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="EmergencyTeam.UserId" class="control-label"></label>
                                    <select asp-for="EmergencyTeam.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                                    <span asp-validation-for="EmergencyTeam.UserId" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="EmergencyTeam.WorkPlaceId" class="control-label"></label>
                                    <select asp-for="EmergencyTeam.WorkPlaceId" class="form-control" asp-items="ViewBag.WorkPlaceId"></select>
                                    <span asp-validation-for="EmergencyTeam.WorkPlaceId" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="EmergencyTeam.DutyId" class="control-label"></label>
                                    <select asp-for="EmergencyTeam.DutyId" class="form-control" asp-items="ViewBag.DutyId"></select>
                                    <span asp-validation-for="EmergencyTeam.DutyId" class="text-danger"></span>
                                </div>
                            </div>
                            <button Type="submit" class="btn btn-success">ثبت</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}