@page
@model ISO_Manager.Pages.Admin.Inspections.CreateModel

@{
ViewData["Title"] = "ایجاد بازرسی";
}
     
<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Admin/Index">خانه</a></li>
                    <li class="breadcrumb-item"><a asp-page="./Index">لیست بازرسی ها</a></li>
                    <li class="breadcrumb-item" aria-current="page">ایجاد</li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12">
                <div class="card">
                    <div class="card-header">
                        <h5>ایجاد بازرسی</h5>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div class="grid grid-cols-12 gap-6">
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Inspection.InspectionDate" class="control-label"></label>
                                    <input asp-for="Inspection.InspectionDate" class="form-control" />
                                    <span asp-validation-for="Inspection.InspectionDate" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Inspection.UserId" class="control-label"></label>
                                    <select asp-for="Inspection.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                                </div>

                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Inspection.WorkPlaceId" class="control-label"></label>
                                    <select asp-for="Inspection.WorkPlaceId" class="form-control" asp-items="ViewBag.WorkPlaceId"></select>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Inspection.InspectionPlaceId" class="control-label"></label>
                                    <select asp-for="Inspection.InspectionPlaceId" class="form-control" asp-items="ViewBag.InspectionPlaceId"></select>
                                </div>
                            </div>
                            <button Type="submit" class="btn btn-success">ثبت</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
