@page
@model ISO_Manager.Pages.Admin.Standards.CreateModel

        @{
        ViewData["Title"] = "Create";
            Layout = "~/Pages/Shared/_Layout.cshtml";
        }
        
        <h1>Create</h1>
        
    <h4>Standard</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="Text-danger"></div>
            <div class="form-group">
                <label asp-for="Standard.standard_name" class="control-label"></label>
                <input asp-for="Standard.standard_name" class="form-control" />
                <span asp-validation-for="Standard.standard_name" class="Text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Standard.fa_chapter" class="control-label"></label>
                <input asp-for="Standard.fa_chapter" class="form-control" />
                <span asp-validation-for="Standard.fa_chapter" class="Text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Standard.fa_subchapter" class="control-label"></label>
                <input asp-for="Standard.fa_subchapter" class="form-control" />
                <span asp-validation-for="Standard.fa_subchapter" class="Text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Standard.CreatedAt" class="control-label"></label>
                <input asp-for="Standard.CreatedAt" class="form-control" />
                <span asp-validation-for="Standard.CreatedAt" class="Text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Standard.UpdatedAt" class="control-label"></label>
                <input asp-for="Standard.UpdatedAt" class="form-control" />
                <span asp-validation-for="Standard.UpdatedAt" class="Text-danger"></span>
            </div>
            <div class="form-group">
                <input Type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
