@page
@model ISO_Manager.Pages.Admin.Standards.DetailsModel

@{
    ViewData["Title"] = "جزئیات استاندارد";
}


<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Admin/Index">خانه</a></li>
                    <li class="breadcrumb-item"><a asp-page="./Index">لیست استاندارد ها</a></li>
                    <li class="breadcrumb-item" aria-current="page">@Html.DisplayFor(model => model.Standard.fa_chapter)</li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12">
                <div class="card">
                    <div class="card-header">
                        <h5>@Html.DisplayFor(model => model.Standard.fa_subchapter)</h5>
                    </div>
                    <div class="card-body Text-blue-400">
                        <h6 class="Text-white">
                            @Html.Raw(Model.Standard.fa_Text)
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>