@page
@model ISO_Manager.Pages.Admin.OperationPlans.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>OperationPlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="Text-danger"></div>
            <input Type="hidden" asp-for="OperationPlan.Id" />
            <div class="form-group">
                <label asp-for="OperationPlan.Title" class="control-label"></label>
                <input asp-for="OperationPlan.Title" class="form-control" />
                <span asp-validation-for="OperationPlan.Title" class="Text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationPlan.Estimate" class="control-label"></label>
                <input asp-for="OperationPlan.Estimate" class="form-control" />
                <span asp-validation-for="OperationPlan.Estimate" class="Text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationPlan.done" class="control-label"></label>
                <input asp-for="OperationPlan.done" class="form-control" />
                <span asp-validation-for="OperationPlan.done" class="Text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationPlan.Unit" class="control-label"></label>
                <input asp-for="OperationPlan.Unit" class="form-control" />
                <span asp-validation-for="OperationPlan.Unit" class="Text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationPlan.plan_percent" class="control-label"></label>
                <input asp-for="OperationPlan.plan_percent" class="form-control" />
                <span asp-validation-for="OperationPlan.plan_percent" class="Text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationPlan.realization_percent" class="control-label"></label>
                <input asp-for="OperationPlan.realization_percent" class="form-control" />
                <span asp-validation-for="OperationPlan.realization_percent" class="Text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationPlan.plan_realization_percent" class="control-label"></label>
                <input asp-for="OperationPlan.plan_realization_percent" class="form-control" />
                <span asp-validation-for="OperationPlan.plan_realization_percent" class="Text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationPlan.accept_percent" class="control-label"></label>
                <input asp-for="OperationPlan.accept_percent" class="form-control" />
                <span asp-validation-for="OperationPlan.accept_percent" class="Text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationPlan.Status" class="control-label"></label>
                <input asp-for="OperationPlan.Status" class="form-control" />
                <span asp-validation-for="OperationPlan.Status" class="Text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationPlan.Description" class="control-label"></label>
                <input asp-for="OperationPlan.Description" class="form-control" />
                <span asp-validation-for="OperationPlan.Description" class="Text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationPlan.CreatedAt" class="control-label"></label>
                <input asp-for="OperationPlan.CreatedAt" class="form-control" />
                <span asp-validation-for="OperationPlan.CreatedAt" class="Text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationPlan.UpdatedAt" class="control-label"></label>
                <input asp-for="OperationPlan.UpdatedAt" class="form-control" />
                <span asp-validation-for="OperationPlan.UpdatedAt" class="Text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationPlan.purpose_id" class="control-label"></label>
                <select asp-for="OperationPlan.purpose_id" class="form-control" asp-items="ViewBag.purpose_id" ></select>
                <span asp-validation-for="OperationPlan.purpose_id" class="Text-danger"></span>
            </div>
            <div class="form-group">
                <input Type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
