@page
@model ISO_Manager.Pages.Admin.Permits.EditModel

@{
    ViewData["Title"] = "Edit";
}



<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Admin/Index">خانه</a></li>
                    <li class="breadcrumb-item"><a asp-page="./Index">لیست پرمیت ها</a></li>
                    <li class="breadcrumb-item" aria-current="page">ایجاد</li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12">
                <div class="card">
                    <div class="card-header">
                        <h5>ایجاد پرمیت</h5>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="Text-danger"></div>
                            <input Type="hidden" asp-for="Permit.Id" />
                            <div class="grid grid-cols-12 gap-6">
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Permit.Place" class="control-label"></label>
                                    <input asp-for="Permit.Place" class="form-control"/>
                                    <span asp-validation-for="Permit.Place" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Permit.PermitType" class="control-label"></label>
                                    <select asp-for="Permit.PermitType" class="form-select">
                                        <option value="hot">گرم</option>
                                        <option value="cold">سرد</option>
                                    </select>
                                    <span asp-validation-for="Permit.PermitType" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Permit.PermitAttachmentType" class="control-label"></label>
                                    <select asp-for="Permit.PermitAttachmentType" class="form-select">
                                        <option value="highschool">کار در ارتفاع</option>
                                        <option value="diploma">حفاری</option>
                                        <option value="associate">کار در فضای محصور</option>
                                        <option value="bachelor">مواد رادیواکتیو</option>
                                    </select>
                                    <span asp-validation-for="Permit.PermitAttachmentType" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Permit.PermitDate" class="control-label"></label>
                                    <input asp-for="Permit.PermitDate" class="form-control"/>
                                    <span asp-validation-for="Permit.PermitDate" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Permit.PermitNumber" class="control-label"></label>
                                    <input asp-for="Permit.PermitNumber" class="form-control"/>
                                    <span asp-validation-for="Permit.PermitNumber" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Permit.Duration" class="control-label"></label>
                                    <input asp-for="Permit.Duration" class="form-control"/>
                                    <span asp-validation-for="Permit.Duration" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Permit.Owner" class="control-label"></label>
                                    <input asp-for="Permit.Owner" class="form-control"/>
                                    <span asp-validation-for="Permit.Owner" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Permit.Responsible" class="control-label"></label>
                                    <input asp-for="Permit.Responsible" class="form-control"/>
                                    <span asp-validation-for="Permit.Responsible" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Permit.Description" class="control-label"></label>
                                    <input asp-for="Permit.Description" class="form-control"/>
                                    <span asp-validation-for="Permit.Description" class="Text-danger"></span>
                                </div>
                            </div>
                            <button Type="submit" class="btn btn-info">ویرایش</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

