@page
@model ISO_Manager.Pages.Admin.Clothes.EditModel

@{ ViewData["Title"] = "ویرایش البسه تحویلی"; }


<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Admin/Index">خانه</a></li>
                    <li class="breadcrumb-item" aria-current="page">ویرایش</li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12">
                <div class="card">
                    <div class="card-header">
                        <h5>ویرایش البسه</h5>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input Type="hidden" asp-for="Cloth.Id" />
                            <input Type="hidden" asp-for="Cloth.UserId" />
                            <div class="grid grid-cols-12 gap-6">
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Cloth.ClothType" class="control-label"></label>
                                    <select asp-for="Cloth.ClothType" class="form-select">
                                        <option value="shoes">کفش ایمنی</option>
                                        <option value="boot">کفش ساق بلند</option>
                                        <option value="boot-shoes">چکمه ایمنی</option>
                                        <option value="boiler-suit">لباس کار</option>
                                        <option value="glasses">عینک ایمنی</option>
                                        <option value="earmuff">گوشی ایمنی</option>
                                        <option value="safety-helmet">کلاه ایمنی</option>
                                        <option value="rain-coat">بارانی</option>
                                        <option value="over-coat">اورکت</option>
                                    </select>
                                    <span asp-validation-for="Cloth.ClothType" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Cloth.ReceiveType" class="control-label"></label>
                                    <select asp-for="Cloth.ReceiveType" class="form-select">
                                        <option value="usual">سهمیه</option>
                                        <option value="emergency">اضطراری</option>
                                        <option value="BossOrder">دستور رئیس HSE</option>
                                        <option value="guest">مهمان</option>
                                    </select>
                                    <span asp-validation-for="Cloth.ReceiveType" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Cloth.ReceiveDate" class="control-label"></label>
                                    <input data-jdp asp-for="@Model.ReceivedDate" Type="text" class="form-control" dir="ltr" />
                                    <span asp-validation-for="Cloth.ReceiveDate" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Cloth.Size" class="control-label"></label>
                                    <input asp-for="Cloth.Size" class="form-control"/>
                                    <span asp-validation-for="Cloth.Size" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Cloth.Description" class="control-label"></label>
                                    <input asp-for="Cloth.Description" class="form-control"/>
                                    <span asp-validation-for="Cloth.Description" class="text-danger"></span>
                                </div>
                            </div>
                            <button Type="submit" class="btn btn-success">ثبت</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <link rel="stylesheet" href="~/js/jalalidatepicker.min.js" />
        <script src="~/js/jalalidatepicker.min.js"></script>


        <script>
            jalaliDatepicker.startWatch();
            var users = new Choices(document.getElementById('users'));

        </script>
    }
}
