@page
@model ISO_Manager.Pages.Admin.InspectionTexts.CreateModel

@{ ViewData["Title"] = "ایجاد سوال بازرسی"; }

<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Admin/Index">خانه</a></li>
                    <li class="breadcrumb-item"><a asp-page="/Admin/InspectionPlaces/Index">لیست محل های بازرسی</a></li>
                    <li class="breadcrumb-item" aria-current="page">ایجاد</li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12">
                <div class="card">
                    <div class="card-header">
                        <h5>ایجاد سوال بازرسی</h5>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <input Type="hidden" asp-for="InspectionText.InspectionPlaceId" value="@Model.PlaceId" class="form-control" />
                            <div class="grid grid-cols-12 gap-6">
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="InspectionText.Text" class="control-label"></label>
                                    <input asp-for="InspectionText.Text" class="form-control"/>
                                    <span asp-validation-for="InspectionText.Text" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="InspectionText.Step" class="control-label"></label>
                                    <input asp-for="InspectionText.Step" class="form-control" />
                                    <span asp-validation-for="InspectionText.Step" class="Text-danger"></span>
                                </div>
                            </div>
                            <button Type="submit" class="btn btn-success">ثبت</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
