@page
@model ISO_Manager.Pages.Admin.WorkPlace.EditModel

@{ ViewData["Title"] = "ویرایش محل کار"; }

<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Admin/Index">خانه</a></li>
                    <li class="breadcrumb-item" aria-current="page">ویرایش</li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12">
                <div class="card">
                    <div class="card-header">
                        <h5>ویرایش محل کار</h5>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input Type="hidden" asp-for="WorkPlace.Id" />
                            <div class="grid grid-cols-12 gap-6">
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="WorkPlace.Title" class="control-label"></label>
                                    <input asp-for="WorkPlace.Title" class="form-control my-2" />
                                    <span asp-validation-for="WorkPlace.Title" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="WorkPlace.OrganizationId" class="control-label"></label>
                                    <select asp-for="WorkPlace.OrganizationId" class="form-control my-2" asp-items="ViewBag.OrganizationId"></select>
                                </div>
                            </div>
                           
                            <button Type="submit" class="btn btn-info">ویرایش</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
