@page
@model ISO_Manager.Pages.Admin.Contractors.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Admin/Index">خانه</a></li>
                    <li class="breadcrumb-item" aria-current="page">ایجاد</li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12">
                <div class="card">
                    <div class="card-header">
                        <h5>ایجاد آمبولانس</h5>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input Type="hidden" asp-for="Contractor.Id" />
                            <div class="grid grid-cols-12 gap-6">
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Contractor.Title" class="control-label"></label>
                                    <input asp-for="Contractor.Title" class="form-control"/>
                                    <span asp-validation-for="Contractor.Title" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Contractor.Company" class="control-label"></label>
                                    <input asp-for="Contractor.Company" class="form-control" />
                                    <span asp-validation-for="Contractor.Company" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Contractor.Employer" class="control-label"></label>
                                    <input asp-for="Contractor.Employer" class="form-control" />
                                    <span asp-validation-for="Contractor.Employer" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Contractor.EmployerMobile" class="control-label"></label>
                                    <input asp-for="Contractor.EmployerMobile" class="form-control" />
                                    <span asp-validation-for="Contractor.EmployerMobile" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Contractor.Manager" class="control-label"></label>
                                    <input asp-for="Contractor.Manager" class="form-control" />
                                    <span asp-validation-for="Contractor.Manager" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Contractor.ManagerMobile" class="control-label"></label>
                                    <input asp-for="Contractor.ManagerMobile" class="form-control" />
                                    <span asp-validation-for="Contractor.ManagerMobile" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Contractor.ManagerAgent" class="control-label"></label>
                                    <input asp-for="Contractor.ManagerAgent" class="form-control" />
                                    <span asp-validation-for="Contractor.ManagerAgent" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Contractor.ManagerAgentMobile" class="control-label"></label>
                                    <input asp-for="Contractor.ManagerAgentMobile" class="form-control" />
                                    <span asp-validation-for="Contractor.ManagerAgentMobile" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Contractor.HseAgent" class="control-label"></label>
                                    <input asp-for="Contractor.HseAgent" class="form-control" />
                                    <span asp-validation-for="Contractor.HseAgent" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Contractor.HseAgentMobile" class="control-label"></label>
                                    <input asp-for="Contractor.HseAgentMobile" class="form-control" />
                                    <span asp-validation-for="Contractor.HseAgentMobile" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Contractor.PersonnelCount" class="control-label"></label>
                                    <input asp-for="Contractor.PersonnelCount" class="form-control" />
                                    <span asp-validation-for="Contractor.PersonnelCount" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Contractor.ContractNumber" class="control-label"></label>
                                    <input asp-for="Contractor.ContractNumber" class="form-control" />
                                    <span asp-validation-for="Contractor.ContractNumber" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Contractor.StartDate" class="control-label"></label>
                                    <input asp-for="Contractor.StartDate" class="form-control" />
                                    <span asp-validation-for="Contractor.StartDate" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Contractor.EndDate" class="control-label"></label>
                                    <input asp-for="Contractor.EndDate" class="form-control" />
                                    <span asp-validation-for="Contractor.EndDate" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Contractor.Description" class="control-label"></label>
                                    <input asp-for="Contractor.Description" class="form-control" />
                                    <span asp-validation-for="Contractor.Description" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Contractor.Status" class="control-label"></label>
                                    <input asp-for="Contractor.Status" class="form-control" />
                                    <span asp-validation-for="Contractor.Status" class="text-danger"></span>
                                </div>
                            </div>
                            <button Type="submit" class="btn btn-success">ثبت</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
