@page
@model ISO_Manager.Pages.Admin.ContractorAccidents.EditModel

@{
    ViewData["Title"] = "ویرایش حادثه پیمانکاری و قراردادی";
}

<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Admin/Index">خانه</a></li>
                    <li class="breadcrumb-item"><a asp-page="/Admin/Index">لیست حوادث قراردادی و پیمانکاری</a></li>
                    <li class="breadcrumb-item" aria-current="page">ویرایش</li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12">
                <div class="card">
                    <div class="card-header">
                        <h5>ویرایش حادثه</h5>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <input Type="hidden" asp-for="ContractorAccident.Id" class="form-control" />

                            <div class="grid grid-cols-12 gap-6">
                                <div class="col-span-12 md:col-span-6 mb-4 flex flex-col gap-2">
                                    <label asp-for="ContractorAccident.UserId" class="control-label"></label>
                                    <select id="users" asp-for="ContractorAccident.UserId" class="form-select">
                                        @foreach (var item in ViewBag.users)
                                        {
                                            <option value="@item.id">@item.name - - @item.register_code</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ContractorAccident.ContractorId" class="control-label"></label>
                                    <select asp-for="ContractorAccident.ContractorId" class="form-control" asp-items="ViewBag.contractors"></select>
                                    <span asp-validation-for="ContractorAccident.ContractorId" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ContractorAccident.AccidentDate" class="control-label"></label>
                                    <input asp-for="ContractorAccident.AccidentDate" class="form-control"/>
                                    <span asp-validation-for="ContractorAccident.AccidentDate" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ContractorAccident.AccidentHour" class="control-label"></label>
                                    <input asp-for="ContractorAccident.AccidentHour" class="form-control"/>
                                    <span asp-validation-for="ContractorAccident.AccidentHour" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ContractorAccident.Marriage" class="control-label"></label>
                                    <select asp-for="ContractorAccident.Marriage" class="form-select">
                                        <option value="married">متاهل</option>
                                        <option value="single">مجرد</option>
                                    </select>
                                    <span asp-validation-for="ContractorAccident.Marriage" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ContractorAccident.AccidentPlace" class="control-label"></label>
                                    <input asp-for="ContractorAccident.AccidentPlace" class="form-control"/>
                                    <span asp-validation-for="ContractorAccident.AccidentPlace" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <<label asp-for="ContractorAccident.ActivityInAccident" class="control-label"></label>
                                    <input asp-for="ContractorAccident.ActivityInAccident" class="form-control"/>
                                    <span asp-validation-for="ContractorAccident.ActivityInAccident" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ContractorAccident.DirectAccidentCauses" class="control-label"></label>
                                    <input asp-for="ContractorAccident.DirectAccidentCauses" class="form-control"/>
                                    <span asp-validation-for="ContractorAccident.DirectAccidentCauses" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ContractorAccident.UnsafeConditionCauses" class="control-label"></label>
                                    <input asp-for="ContractorAccident.UnsafeConditionCauses" class="form-control"/>
                                    <span asp-validation-for="ContractorAccident.UnsafeConditionCauses" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ContractorAccident.UnsafeActionCauses" class="control-label"></label>
                                    <input asp-for="ContractorAccident.UnsafeActionCauses" class="form-control"/>
                                    <span asp-validation-for="ContractorAccident.UnsafeActionCauses" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ContractorAccident.AccidentDescription" class="control-label"></label>
                                    <input asp-for="ContractorAccident.AccidentDescription" class="form-control"/>
                                    <span asp-validation-for="ContractorAccident.AccidentDescription" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ContractorAccident.AccidentBoss" class="control-label"></label>
                                    <input asp-for="ContractorAccident.AccidentBoss" class="form-control"/>
                                    <span asp-validation-for="ContractorAccident.AccidentBoss" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ContractorAccident.UnsafeActionCauses" class="control-label"></label>
                                    <input asp-for="ContractorAccident.UnsafeActionCauses" class="form-control"/>
                                    <span asp-validation-for="ContractorAccident.UnsafeActionCauses" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ContractorAccident.HseDescription" class="control-label"></label>
                                    <input asp-for="ContractorAccident.HseDescription" class="form-control"/>
                                    <span asp-validation-for="ContractorAccident.HseDescription" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ContractorAccident.IsGuilty" class="control-label"></label>
                                    <select asp-for="ContractorAccident.IsGuilty" class="form-select">
                                        <option value="1">بله</option>
                                        <option value="0">خیر</option>
                                    </select>
                                    <span asp-validation-for="ContractorAccident.IsGuilty" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ContractorAccident.AccidentConsequence" class="control-label"></label>
                                    <input asp-for="ContractorAccident.AccidentConsequence" class="form-control"/>
                                    <span asp-validation-for="ContractorAccident.AccidentConsequence" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ContractorAccident.AccidentComplication" class="control-label"></label>
                                    <input asp-for="ContractorAccident.AccidentComplication" class="form-control"/>
                                    <span asp-validation-for="ContractorAccident.AccidentComplication" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ContractorAccident.AccidentInjuredPart" class="control-label"></label>
                                    <input asp-for="ContractorAccident.AccidentInjuredPart" class="form-control"/>
                                    <span asp-validation-for="ContractorAccident.AccidentInjuredPart" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ContractorAccident.HseBoss" class="control-label"></label>
                                    <input asp-for="ContractorAccident.HseBoss" class="form-control"/>
                                    <span asp-validation-for="ContractorAccident.HseBoss" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ContractorAccident.LostDays" class="control-label"></label>
                                    <input asp-for="ContractorAccident.LostDays" class="form-control"/>
                                    <span asp-validation-for="ContractorAccident.LostDays" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ContractorAccident.ReceiveReportDate" class="control-label"></label>
                                    <input asp-for="ContractorAccident.ReceiveReportDate" class="form-control"/>
                                    <span asp-validation-for="ContractorAccident.ReceiveReportDate" class="text-danger"></span>
                                </div>

                            </div>
                            <button Type="submit" class="btn btn-success">ثبت</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
