@page
@model ISO_Manager.Pages.Admin.OfficialAccidents.EditModel

@{ ViewData["Title"] = "ویرایش حوادث کارکنان رسمی"; }


<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Admin/Index">خانه</a></li>
                    <li class="breadcrumb-item"><a asp-page="/Admin/Index">لیست حوادث کارکنان رسمی</a></li>
                    <li class="breadcrumb-item" aria-current="page">ویرایش</li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12">
                <div class="card">
                    <div class="card-header">
                        <h5>ویرایش حادثه</h5>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <input Type="hidden" asp-for="OfficialAccident.Id" class="form-control" />
                            <div class="grid grid-cols-12 gap-6">
                                <div class="col-span-12 md:col-span-6 mb-4 flex flex-col gap-2">
                                    <label asp-for="OfficialAccident.UserId" class="control-label"></label>
                                    <select id="users" asp-for="OfficialAccident.UserId" class="form-select">
                                        @foreach (var item in ViewBag.users)
                                        {
                                            <option value="@item.id">@item.name - - @item.register_code</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="OfficialAccident.AccidentDate" class="control-label"></label>
                                    <input asp-for="OfficialAccident.AccidentDate" class="form-control"/>
                                    <span asp-validation-for="OfficialAccident.AccidentDate" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="OfficialAccident.AccidentHour" class="control-label"></label>
                                    <input asp-for="OfficialAccident.AccidentHour" class="form-control"/>
                                    <span asp-validation-for="OfficialAccident.AccidentHour" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="OfficialAccident.Marriage" class="control-label"></label>
                                    <select asp-for="OfficialAccident.Marriage" class="form-select">
                                        <option value="married">متاهل</option>
                                        <option value="single">مجرد</option>
                                    </select>
                                    <span asp-validation-for="OfficialAccident.Marriage" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="OfficialAccident.AccidentPlace" class="control-label"></label>
                                    <input asp-for="OfficialAccident.AccidentPlace" class="form-control"/>
                                    <span asp-validation-for="OfficialAccident.AccidentPlace" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="OfficialAccident.ActivityInAccident" class="control-label"></label>
                                    <input asp-for="OfficialAccident.ActivityInAccident" class="form-control"/>
                                    <span asp-validation-for="OfficialAccident.ActivityInAccident" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="OfficialAccident.DirectAccidentCauses" class="control-label"></label>
                                    <input asp-for="OfficialAccident.DirectAccidentCauses" class="form-control"/>
                                    <span asp-validation-for="OfficialAccident.DirectAccidentCauses" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="OfficialAccident.UnsafeConditionCauses" class="control-label"></label>
                                    <input asp-for="OfficialAccident.UnsafeConditionCauses" class="form-control"/>
                                    <span asp-validation-for="OfficialAccident.UnsafeConditionCauses" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="OfficialAccident.UnsafeActionCauses" class="control-label"></label>
                                    <input asp-for="OfficialAccident.UnsafeActionCauses" class="form-control"/>
                                    <span asp-validation-for="OfficialAccident.UnsafeActionCauses" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 mb-4">
                                    <label asp-for="OfficialAccident.AccidentDescription" class="control-label"></label>
                                    <input asp-for="OfficialAccident.AccidentDescription" class="form-control"/>
                                    <span asp-validation-for="OfficialAccident.AccidentDescription" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="OfficialAccident.AccidentBoss" class="control-label"></label>
                                    <input asp-for="OfficialAccident.AccidentBoss" class="form-control"/>
                                    <span asp-validation-for="OfficialAccident.AccidentBoss" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="OfficialAccident.HseBoss" class="control-label"></label>
                                    <input asp-for="OfficialAccident.HseBoss" class="form-control"/>
                                    <span asp-validation-for="OfficialAccident.HseBoss" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 mb-4">
                                    <label asp-for="OfficialAccident.HseDescription" class="control-label"></label>
                                    <input asp-for="OfficialAccident.HseDescription" class="form-control"/>
                                    <span asp-validation-for="OfficialAccident.HseDescription" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="OfficialAccident.IsGuilty" class="control-label"></label>
                                    <select asp-for="OfficialAccident.IsGuilty" class="form-select">
                                        <option value="1">بله</option>
                                        <option value="0">خیر</option>
                                    </select>
                                    <span asp-validation-for="OfficialAccident.IsGuilty" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="OfficialAccident.AccidentConsequence" class="control-label"></label>
                                    <input asp-for="OfficialAccident.AccidentConsequence" class="form-control"/>
                                    <span asp-validation-for="OfficialAccident.AccidentConsequence" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="OfficialAccident.AccidentComplication" class="control-label"></label>
                                    <input asp-for="OfficialAccident.AccidentComplication" class="form-control"/>
                                    <span asp-validation-for="OfficialAccident.AccidentComplication" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="OfficialAccident.AccidentInjuredPart" class="control-label"></label>
                                    <input asp-for="OfficialAccident.AccidentInjuredPart" class="form-control"/>
                                    <span asp-validation-for="OfficialAccident.AccidentInjuredPart" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 mb-4">
                                    <label asp-for="OfficialAccident.DoctorDescription" class="control-label"></label>
                                    <input asp-for="OfficialAccident.DoctorDescription" class="form-control" />
                                    <span asp-validation-for="OfficialAccident.DoctorDescription" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="OfficialAccident.LostDays" class="control-label"></label>
                                    <input asp-for="OfficialAccident.LostDays" class="form-control"/>
                                    <span asp-validation-for="OfficialAccident.LostDays" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="OfficialAccident.ReceiveReportDate" class="control-label"></label>
                                    <input asp-for="OfficialAccident.ReceiveReportDate" class="form-control"/>
                                    <span asp-validation-for="OfficialAccident.ReceiveReportDate" class="Text-danger"></span>
                                </div>

                            </div>
                            <button Type="submit" class="btn btn-info">ویرایش</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
