@page
@model ISO_Manager.Pages.Admin.HealthCarts.EditModel

@{
    ViewData["Title"] = "ویرایش کارت بهداشت";
}

<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Admin/Index">خانه</a></li>
                    <li class="breadcrumb-item"><a asp-page="./Index">لیست کارت های بهداشت </a></li>
                    <li class="breadcrumb-item" aria-current="page">ویرایش</li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12">
                <div class="card">
                    <div class="card-header">
                        <h5>ویرایش کارت بهداشت</h5>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="Text-danger"></div>
                            <input Type="hidden" asp-for="HealthCart.Id" />
                            <div class="grid grid-cols-12 gap-6">
                                
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="HealthCart.EndDate" class="control-label"></label>
                                    <input asp-for="HealthCart.EndDate" class="form-control" />
                                    <span asp-validation-for="HealthCart.EndDate" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4 flex flex-col gap-2">
                                    <label asp-for="HealthCart.UserId" class="control-label"></label>
                                    <select id="users" asp-for="HealthCart.UserId" class="form-select">
                                        @foreach (var item in ViewBag.users)
                                        {
                                            <option value="@item.id">@item.name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4 flex flex-col gap-2">
                                    <label asp-for="HealthCart.WorkPlaceId" class="control-label"></label>
                                    <select id="workPlaces" asp-for="HealthCart.WorkPlaceId" class="form-select">
                                        @foreach (var item in ViewBag.workPlaces)
                                        {
                                            <option value="@item.id">@item.Title</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <button Type="submit" class="btn btn-success">ویرایش</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        var users = new Choices(document.getElementById('users'));
        var workPlaces = new Choices(document.getElementById('workPlaces'));

    </script>
}
