@page
@model ISO_Manager.Pages.Admin.Calibrations.EditModel

@{ ViewData["Title"] = "ویرایش گازسنج"; }


<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Admin/Index">خانه</a></li>
                    <li class="breadcrumb-item" aria-current="page">ویرایش</li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12">
                <div class="card">
                    <div class="card-header">
                        <h5>ویرایش گازسنج</h5>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="Text-danger"></div>
                            <input Type="hidden" asp-for="Calibration.Id" />
                            <div class="grid grid-cols-12 gap-6">
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Calibration.Title" class="control-label"></label>
                                    <input asp-for="Calibration.Title" class="form-control"/>
                                    <span asp-validation-for="Calibration.Title" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Calibration.AssetNumber" class="control-label"></label>
                                    <input asp-for="Calibration.AssetNumber" class="form-control"/>
                                    <span asp-validation-for="Calibration.AssetNumber" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Calibration.SerialNumber" class="control-label"></label>
                                    <input asp-for="Calibration.SerialNumber" class="form-control"/>
                                    <span asp-validation-for="Calibration.SerialNumber" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Calibration.DeviceOwner" class="control-label"></label>
                                    <input asp-for="Calibration.DeviceOwner" class="form-control"/>
                                    <span asp-validation-for="Calibration.DeviceOwner" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Calibration.DeviceUser" class="control-label"></label>
                                    <input asp-for="Calibration.DeviceUser" class="form-control"/>
                                    <span asp-validation-for="Calibration.DeviceUser" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Calibration.DeliveryDate" class="control-label"></label>
                                    <input asp-for="Calibration.DeliveryDate" class="form-control"/>
                                    <span asp-validation-for="Calibration.DeliveryDate" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Calibration.StartCalibration" class="control-label"></label>
                                    <input asp-for="Calibration.StartCalibration" class="form-control"/>
                                    <span asp-validation-for="Calibration.StartCalibration" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Calibration.EndCalibration" class="control-label"></label>
                                    <input asp-for="Calibration.EndCalibration" class="form-control"/>
                                    <span asp-validation-for="Calibration.EndCalibration" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Calibration.Status" class="control-label"></label>
                                    <select asp-for="Calibration.Status" class="form-select">
                                        <option value="active">فعال</option>
                                        <option value="deactive">غیر فعال</option>
                                    </select>
                                    <span asp-validation-for="Calibration.Status" class="Text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Calibration.Description" class="control-label"></label>
                                    <input asp-for="Calibration.Description" class="form-control"/>
                                    <span asp-validation-for="Calibration.Description" class="Text-danger"></span>
                                </div>
                            </div>
                            <button Type="submit" class="btn btn-success">ثبت</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
