@page
@model ISO_Manager.Pages.Admin.OccupationHarmfuls.CreateModel

        @{
        ViewData["Title"] = "Create";
            Layout = "~/Pages/Shared/_Layout.cshtml";
        }
        
<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Admin/Index">خانه</a></li>
                    <li class="breadcrumb-item" aria-current="page">ایجاد</li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12">
                <div class="card">
                    <div class="card-header">
                        <h5>ایجاد آمبولانس</h5>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div class="grid grid-cols-12 gap-6">
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="OccupationHarmful.exposure_source" class="control-label"></label>
                                    <input asp-for="OccupationHarmful.exposure_source" class="form-control" />
                                    <span asp-validation-for="OccupationHarmful.exposure_source" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="OccupationHarmful.evaluation_method" class="control-label"></label>
                                    <input asp-for="OccupationHarmful.evaluation_method" class="form-control" />
                                    <span asp-validation-for="OccupationHarmful.evaluation_method" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="OccupationHarmful.exposure_rate" class="control-label"></label>
                                    <input asp-for="OccupationHarmful.exposure_rate" class="form-control" />
                                    <span asp-validation-for="OccupationHarmful.exposure_rate" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="OccupationHarmful.exposure_duration" class="control-label"></label>
                                    <input asp-for="OccupationHarmful.exposure_duration" class="form-control" />
                                    <span asp-validation-for="OccupationHarmful.exposure_duration" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="OccupationHarmful.exposure_limit" class="control-label"></label>
                                    <input asp-for="OccupationHarmful.exposure_limit" class="form-control" />
                                    <span asp-validation-for="OccupationHarmful.exposure_limit" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="OccupationHarmful.status" class="control-label"></label>
                                    <input asp-for="OccupationHarmful.status" class="form-control" />
                                    <span asp-validation-for="OccupationHarmful.status" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="OccupationHarmful.occupation_id" class="control-label"></label>
                                    <select asp-for="OccupationHarmful.occupation_id" class ="form-control" asp-items="ViewBag.occupation_id" ></select>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="OccupationHarmful.harmful_factor_id" class="control-label"></label>
                                    <select asp-for="OccupationHarmful.harmful_factor_id" class ="form-control" asp-items="ViewBag.harmful_factor_id" ></select>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="OccupationHarmful.harmful_item_id" class="control-label"></label>
                                    <input asp-for="OccupationHarmful.harmful_item_id" class="form-control" />
                                    <span asp-validation-for="OccupationHarmful.harmful_item_id" class="text-danger"></span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">ثبت</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}