@page
@model ISO_Manager.Pages.Admin.Users.EditModel

@{ ViewData["Title"] = "ویرایش"; }

<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Admin/Index">خانه</a></li>
                    <li class="breadcrumb-item"><a asp-page="./Index">لیست کارکنان</a></li>
                    <li class="breadcrumb-item" aria-current="page">ویرایش</li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12">
                <div class="card">
                    <div class="card-header">
                        <h5>ویرایش کاربر</h5>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div class="grid grid-cols-12 gap-6">
                                <input type="hidden" asp-for="User.Id" />
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label class="control-label" asp-for="User.name"></label>
                                    <input type="text" class="form-control my-2" asp-for="User.name">
                                    <span asp-validation-for="User.name" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="User.mobile" class="control-label"></label>
                                    <input asp-for="User.mobile" class="form-control my-2" />
                                    <span asp-validation-for="User.mobile" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="User.register_code" class="control-label"></label>
                                    <input asp-for="User.register_code" class="form-control my-2" />
                                    <span asp-validation-for="User.register_code" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="User.national_code" class="control-label"></label>
                                    <input asp-for="User.national_code" class="form-control my-2" />
                                    <span asp-validation-for="User.national_code" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="User.password" class="control-label"></label>
                                    <input asp-for="User.password" class="form-control my-2" />
                                    <span asp-validation-for="User.password" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label class="form-label" asp-for="User.employment_type"></label>
                                    <select asp-for="User.employment_type" class="form-select">
                                        <option value="rasmi">رسمی</option>
                                        <option value="peymankari">پیمانکاری</option>
                                        <option value="gharardadi">قراردادی</option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">ویرایش</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>


