@page
@model ISO_Manager.Pages.Admin.LegalRequirements.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>LegalRequirement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LegalRequirement.Id" />
            <div class="form-group">
                <label asp-for="LegalRequirement.regulation_title" class="control-label"></label>
                <input asp-for="LegalRequirement.regulation_title" class="form-control" />
                <span asp-validation-for="LegalRequirement.regulation_title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LegalRequirement.regulation_organization" class="control-label"></label>
                <input asp-for="LegalRequirement.regulation_organization" class="form-control" />
                <span asp-validation-for="LegalRequirement.regulation_organization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LegalRequirement.regulation_date" class="control-label"></label>
                <input asp-for="LegalRequirement.regulation_date" class="form-control" />
                <span asp-validation-for="LegalRequirement.regulation_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LegalRequirement.created_at" class="control-label"></label>
                <input asp-for="LegalRequirement.created_at" class="form-control" />
                <span asp-validation-for="LegalRequirement.created_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LegalRequirement.updated_at" class="control-label"></label>
                <input asp-for="LegalRequirement.updated_at" class="form-control" />
                <span asp-validation-for="LegalRequirement.updated_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
