@page
@model ISO_Manager.Pages.Admin.User_infos.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>User_info</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User_info.Id" />
            <div class="form-group">
                <label asp-for="User_info.birthday" class="control-label"></label>
                <input asp-for="User_info.birthday" class="form-control" />
                <span asp-validation-for="User_info.birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_info.employment_date" class="control-label"></label>
                <input asp-for="User_info.employment_date" class="form-control" />
                <span asp-validation-for="User_info.employment_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_info.degree" class="control-label"></label>
                <input asp-for="User_info.degree" class="form-control" />
                <span asp-validation-for="User_info.degree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_info.created_at" class="control-label"></label>
                <input asp-for="User_info.created_at" class="form-control" />
                <span asp-validation-for="User_info.created_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_info.updated_at" class="control-label"></label>
                <input asp-for="User_info.updated_at" class="form-control" />
                <span asp-validation-for="User_info.updated_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_info.user_id" class="control-label"></label>
                <input asp-for="User_info.user_id" class="form-control" />
                <span asp-validation-for="User_info.user_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
